<template>
  <v-app>
    <!--<v-app-bar height="50">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    </v-app-bar>-->
    <v-navigation-drawer
      color="grey lighten-2"
      app
      absolute
      persistant
      width="170"
      mobile-break-point="800">
      <v-img
        src="./assets/logo.png"
        :contain="true"
        width="100"
        class="mx-8 mt-8 mb-12"
      ></v-img>
      <v-list>
        <v-list-item-group class="mt-3" color="deep-purple darken-4">
          <v-list-item
            v-for="item in menuData"
            :key="item.id"
            router :to="item.title"
            :ripple="false"
            >
            <v-icon left>{{item.micon}}</v-icon>
            <v-list-item-content>
              <v-list-item-title>
               <h4 class="grey--text text--darken-2">{{item.title}}</h4>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-content app class="mx-8 mb-4">
      <router-view>

      </router-view>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  components: {},
  data: () => ({
    menuData: [
        {
          id: 1,
          micon: "shopping_basket",
          title: "Distribution",
        },
        {
          id: 2,
          micon: "calendar_today",
          title: "Commandes",
        },
        {
          id: 3,
          micon: "face",
          title: "Usagers",
        },
        {
          id: 4,
          micon: "assessment",
          title: "Stats",
        },
        {
          id: 5,
          micon: "account_balance",
          title: "Finances",
        }
      ]
  }),
}
</script>
