<template>
  <div>
    <!-- Lydia and next panier -->
    <v-layout mt-4 mb-3 ml-4 mr-9 row wrap>
      <v-flex md4 lg6 xl8></v-flex>
      <v-flex>
        <v-card flat height="49" color="grey lighten-5 text-right">
          <h3 class="grey--text text--darken-2">Lydia: 06 09 82 34 04</h3>
        </v-card>
      </v-flex>
      <v-flex>
        <v-card flat height="49" color="grey lighten-5">
          <h3 class="deep-purple--text text--darken-4 text-right">
            Prochain panier: {{ new Date(nextDates[0].date).toLocaleDateString('fr-FR',dateStringOptions) }}
          </h3>
          <h4 class="grey--text text--darken-2 text-right">
            Semaine {{ nextDates[0].weekNumber }}
          </h4>
        </v-card>
      </v-flex>
    </v-layout>

    <!-- "Commandes" header and "Nouvelle Commande" button-->
    <v-layout v-if="showHeader" mr-9>
      <v-flex>
        <h2 class="deep-purple--text text--darken-4">Commandes</h2>
      </v-flex>
      <v-flex md3 mx-6>
        <v-btn
          outlined
          :ripple="{ 'center' : true }"
          right
          class="deep-purple darken-4 white--text text--darken-2"
          @click="showNewOrder = true; showHeader = false;"
          >Nouvelle commande</v-btn>
      </v-flex>
      <v-flex md12></v-flex>
      <v-flex md6>
        <v-text-field
              v-model="ordersSearch"
              append-icon="search"
              label="Recherche"
              outlined
              dense
            >
          </v-text-field>
      </v-flex>
    </v-layout>

    <!-- New order form -->
    <v-container class="pa-0 ma-0">
      <v-slide-y-transition>
        <v-card
          v-if="showNewOrder"
          width="800"
          outlined
          class="grey lighten-5">
          <v-layout>
            <v-flex md3 ml-3 pt-3>
              <h3 class="deep-purple--text text--darken-4">Nouvelle Commande</h3>
            </v-flex>
            <v-flex md5 pt-2>
              <v-btn
                outlined
                :ripple="{ 'center' : true }"
                class="deep-purple--text text--darken-4"
                @click="clearOrder()"
                >Annuler</v-btn>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex>
              <v-divider class="deep-purple darken-4 ma-3"></v-divider>
            </v-flex>
          </v-layout>
            <v-form v-model="validForm">
              <v-layout>
                <v-flex class="px-3">
                  <v-text-field
                    v-model="enteredFirstName"
                    autofocus
                    dense
                    outlined
                    label="Prénom"
                    required
                    :items="usersData.data"
                    item-text="firstName"
                    :item-value="firstName"
                    @blur="checkUserEntered(); updateFoundUser();"
                  ></v-text-field>
                </v-flex>
                <v-flex class="px-3">
                  <v-text-field
                    v-model="enteredLastName"
                    dense
                    outlined
                    label="Nom"
                    :items="usersData.data"
                    item-text="lastName"
                    @blur="checkUserEntered(); updateFoundUser();"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex class="px-3">
                  <v-text-field
                    v-model="enteredEmail"
                    dense
                    outlined
                    label="Email"
                    :items="usersData.data"
                    item-text="email"
                  ></v-text-field>
                </v-flex>
                <v-flex md2 class="px-2">
                  <v-icon
                    class="pt-2"
                    color="rgb(0, 98, 200)"
                    v-if="userIsFound"
                    >check_circle</v-icon>
                  <v-card
                    flat
                    outlined
                    class="orange mt-3"
                    height="29"
                    v-if="userIsEntered && !userIsFound">
                    <v-card flat class="grey lighten-5" height="27">
                      <h5 class="pl-3 pt-1 orange--text">Nouvel usager!</h5>
                    </v-card>
                  </v-card>
                </v-flex>
                <v-flex md4 class="deep-purple--text pl-3">
                  <v-radio-group
                    v-model="newOrderData.type"
                    row
                    @change="populateBaskets"
                    >
                    <v-radio value="M" label="M" color="yellow darken-3"></v-radio>
                    <v-radio value="U" label="U" color="red"></v-radio>
                    <v-radio value="4" label="4" color="green"></v-radio>
                    <v-radio value="16" label="16" color="blue"></v-radio>
                  </v-radio-group>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex md6 class="pl-3">
                  <v-select
                    v-model="selectedDate"
                    auto-select-first
                    dense
                    outlined
                    label="Semaine"
                    :items="nextDates"
                    :return-object="selectedDate"
                    :item-text="formatDateText"
                    @input="setDateID()"
                  ></v-select>
                </v-flex>
                <v-flex md1></v-flex>
                <v-flex md1 pt-2>
                  <h3 class="deep-purple--text text--darken-4">
                    Dû:
                  </h3>
                </v-flex>
                <v-flex md4 mx-3>
                  <h1 class="deep-purple--text text--darken-4">
                    {{ getDueAmount() }} €
                  </h1>
                </v-flex>
              </v-layout>
            </v-form>
            <v-layout>
              <v-flex md6 class="mx-3">
                <v-select
                  v-model="newOrderData.payMethod"
                  dense
                  outlined
                  label="Paiment"
                  required
                  :items="payMethods"
                ></v-select>
              </v-flex>
              <v-flex md1 class="mx-1 pl-3">
                <v-checkbox
                  v-model="newOrderData.paid"
                  color="deep-purple darken-4"
                  label="Payé"
                  @change="tickReceipt()">
                </v-checkbox>
              </v-flex>
              <v-flex md3 class="pl-7">
                <v-checkbox
                  v-model="newOrderData.receiptSent"
                  color="deep-purple darken-4"
                  label="Envoyer Reçu">
                </v-checkbox>
              </v-flex>
              <v-flex md2 class="mx-1">
                <v-btn
                  outlined
                  :ripple="{ 'center' : true }"
                  right
                  class="deep-purple darken-4 white--text"
                  @click="createOrder(); clearOrder(); updateOrders();"
                  >Terminer
                </v-btn>
              </v-flex>
            </v-layout>

            <!-- Debugging
            <v-layout>
                <h4>foundUserSize:</h4>
                <p>{{foundUserSize}}</p>
            </v-layout>
            <v-layout>
                <h4>enteredFirstName:</h4>
                <p>{{enteredFirstName}}</p>
            </v-layout>
            <v-layout>
                <h4>enteredLastName:</h4>
                <p>{{enteredLastName}}</p>
            </v-layout>
            <v-layout>
                <h4>enteredEmail:</h4>
                <p>{{enteredEmail}}</p>
            </v-layout>
            <v-layout>
                <h4>userIsEntered:</h4>
                <p>{{userIsEntered}}</p>
            </v-layout>
            <v-layout>
                <h4>userIsFound:</h4>
                <p>{{userIsFound}}</p>
            </v-layout>
            <v-layout>
                <h4>foundUser:</h4>
                <p>{{JSON.stringify(foundUser)}}</p>
            </v-layout>
            <v-layout>
                <h4>selectedDate:</h4>
                <p>{{selectedDate}}</p>
            </v-layout>
            <v-layout>
                <h4>newOrderData:</h4>
                <p>{{newOrderData}}</p>
            </v-layout>
            <v-layout>
                <h4>ordersData:</h4>
                <p>{{ordersData}}</p>
            </v-layout>
            -->

            <v-divider class="deep-purple mx-3"></v-divider>
          </v-card>
        </v-slide-y-transition>
    </v-container>

    <!-- Debugging
    <v-layout>
        <h4>dateThreshhold:</h4>
        <p>{{new Date(dateThreshhold)}}</p>
    </v-layout>

    <v-layout>
        <h4>nextDates:</h4>
        <p>{{nextDates}}</p>
    </v-layout>
    <v-layout>
        <h4>now:</h4>
        <p>{{now}}</p>
    </v-layout>
    <v-layout>
        <h4>new Date(now).toLocaleString():</h4>
        <p>{{new Date(now).toLocaleString()}}</p>
    </v-layout>
    <v-layout>
        <h4>datesData.data[12].date:</h4>
        <p>{{datesData.data[12].date}}</p>
    </v-layout>
    <v-layout>
        <h4>new Date(datesData.data[11].date) &#60; Date.now():</h4>
        <p>{{new Date(datesData.data[11].date) &#60; Date.now()}}</p>
    </v-layout>
    <v-layout>
        <h4>formatDateTextSortable(datesData.data[0]):</h4>
        <p>{{formatDateTextSortable(datesData.data[0])}}</p>
    </v-layout>
    <div>
      <h4>ordersData.data:</h4>
      <p v-for="i in ordersData.data" :key="i">
        {{ JSON.stringify(i,null,2) }}
      </p>
    </div> -->

    <!-- Orders Table -->
    <v-slide-y-transition>
      <v-data-table
        :headers="headerData"
        :items="ordersData.data"
        :search="ordersSearch"
        :sort-by="paymentDate"
        :sort-desc="true"
        :items-per-page="10"
        class="v-data-table grey lighten-5"
        >
        <template v-slot:item.paymentDate="{ item }">
          <span>{{new Date(item.paymentDate).toLocaleDateString('fr-FR',dateStringOptions)}}</span>
        </template>
        <template v-slot:item.startDate.date="{ item }">
          <span>{{new Date(item.startDate.date).toLocaleDateString()}}</span>
        </template>
        <template v-slot:item.type="{ item }">
          <v-chip
            :color="getTypeColor(item.type)"
            class="font-weight-bold"
            dark
            >
            {{ item.type }}
          </v-chip>
        </template>
        <template v-slot:item.startDate.weekNumber="{ item }">
          <span class="inline-block font-weight-bold">
            {{ item.startDate.weekNumber }}
          </span>
          <span> &#8203;&#8203; </span>
          <span class="inline-block">
            {{ " (" + new Date(item.startDate.date).toLocaleDateString('fr-FR',dateStringOptions) + ")"}}
          </span>
        </template>
        <template v-slot:item.paid="{ item }">
          <v-icon v-if="item.paid" color="green">check_circle</v-icon>
          <v-icon v-if="!item.paid" color="yellow darken-2">cancel</v-icon>
        </template>
        <template v-slot:item.receiptSent="{ item }">
          <v-icon v-if="item.receiptSent" class="ml-6" color="green">check_circle</v-icon>
          <v-icon v-if="!item.receiptSent" class="ml-6" color="yellow darken-2">cancel</v-icon>
        </template>
      </v-data-table>
    </v-slide-y-transition>
  </div>
</template>

<script>
import OrdersService from '../OrdersService'
import DatesService from '../DatesService'
import UsersService from '../UsersService'

export default {
  name: 'Commandes',
  data: () => ({
    dateThreshhold: Date.now(),
    nextDates: [{}],
    dateStringOptions: {day: "numeric", month: "numeric", year:"2-digit"},
    foundUserSize: 0,
    userIsEntered: false,
    userIsFound: false,
    foundFistNames: [],
    foundLastNames: [],
    foundUser: [],
    enteredFirstName: "",
    enteredLastName: "",
    enteredEmail: "",
    enteredUser: {},
    selectedType: "",
    selectedDate: {types: [{M: 5, U: 6, 4:22, 16:80}]},
    payMethods: ["Espèce","Lydia","Chèque"],
    showNewOrder: false,
    showHeader: true,
    validForm: true,
    requiredRules: [
      v => !!v || 'Field is required'
    ],
    emailRules: [
      v => !!v || "Adresse mail requise",
      v => /.+@.+\..+/.test(v) || "L'adresse mail doit être valide"
    ],
    ordersSearch: "",
    datesData: {
      data: [],
      error: ''
    },
    ordersData: {
        data: [],
        error: ''
      },
    usersData: {
      data: [],
      error: ''
    },
    newOrderData: {
      userID: "",
      type: "",
      startDate: "",
      payMethod: "",
      paymentDate: "",
      paid: false,
      receiptSent: false,
      notes: "",
      baskets: {
        "1": {
          "pickedUp": false,
          "deposit": false
        }
      }
    },
    headerData: [
    {
      text: "Prénom",
      value: "userID.firstName"
    },
    {
      text: "Nom",
      value: "userID.lastName"
    },
    {
      text: "Type",
      value: "type"
    },
    {
      text: "Date paiment",
      value: "paymentDate",
      dataType: "Date"
    },
    {
      text: "Semaine début",
      value: "startDate.weekNumber"
    },
    {
      text: "Paiment",
      value: "payMethod"
    },
    {
      text: "Payé",
      value: "paid"
    },
    {
      text: "Reçu envoyé",
      value: "receiptSent"
    },
    {
      text: "",
      value: ""
    }]
  }),
  async created() {
    try {
      var d = new Date()
      d.setDate(d.getDate()+2)
      this.dateThreshhold = d
      this.ordersData.data = await OrdersService.getOrders()
      this.datesData.data = await DatesService.getDates()
      this.usersData.data = await UsersService.getUsers()
      this.nextDates = this.getNextDates()
    } catch (err) {
      this.err = err.message
    }
  },
  methods: {
    async createOrder() {
      if (!this.userIsFound) {
        this.insertUser(this.enteredFirstName,this.enteredLastName,this.enteredEmail)
      }
      await OrdersService.insertOrder(this.newOrderData)
      this.ordersData.data = await OrdersService.getOrders()
    },
    formatDateText(item) {
      return(
        item.date.substring(8,10)+'/'+item.date.substring(5,7)+'/'+item.date.substring(2,4)
      )
    },
    getNextDates() {
      var dates = []
      const l = this.datesData.data.length
      for (var i = 0; i < l-1; i ++) {
        if (new Date(this.datesData.data[i].date) > this.dateThreshhold) {
          dates.push(this.datesData.data[i])
        }
      }
      return(dates)
    },
    formatDateTextSortable(item) {
      return(
        item.date.substring(2,4)+item.date.substring(5,7)+item.date.substring(8,10)
      )
    },
    updateLastNames() {
      try {
        this.foundLastNames = UsersService.findLastNamesByFirstName(this.enteredFirstName)
      } catch (err) {
        this.err = err.message
      }
    },
    isBlank(str) {
      return (!str || /^\s*$/.test(str))
    },
    getSize(obj) {
      var size = 0, key;
      for (key in obj) {
          if (obj.hasOwnProperty(key)) size++;
      }
      return size;
    },
    checkUserEntered() {
      if(!this.isBlank(this.enteredFirstName) && !this.isBlank(this.enteredLastName)) {
        this.userIsEntered = true
      }
      else {this.userIsEntered = false}
    },
    async updateFoundUser() {
      if (this.userIsEntered) {
        try {
          this.foundUser = await UsersService.findUserByFirstLastName(
            this.enteredFirstName,
            this.enteredLastName
          )
        } catch (err) {
          this.err = err.message
        }
        this.foundUserSize = this.getSize(this.foundUser)
        if (this.foundUserSize > 0) {
          this.userIsFound = true
          this.enteredEmail = this.foundUser[0]['email']
          this.newOrderData.userID = this.foundUser[0]["_id"]
        }
        else {
          this.userIsFound = false
          this.enteredEmail = ""
          this.newOrderData.userID = ""
        }
      }
      else {
        this.userIsFound = false
        this.foundUser = []
        this.enteredEmail = ""
        this.newOrderData.userID = ""
      }
    },
    async insertUser(firstName,lastName,email) {
      try {
        await UsersService.createUser(firstName,lastName,email)
      } catch (err) {
        this.err = err.message
      }
    },
    setDateID() {
      this.newOrderData.startDate = this.selectedDate._id
    },
    getDueAmount() {
      return(this.selectedDate.types[0][this.newOrderData.type])
    },
    tickReceipt() {
      if (this.newOrderData.paid)
      this.newOrderData.receiptSent = true
    },
    clearOrder() {
      this.newOrderData = {userID:"",type:"",startDate:"",payMethod:"",
          paymentDate:"",paid:false,receiptSent:false,notes: ""}
      this.foundUserSize = 0
      this.userIsEntered = false
      this.userIsFound = false
      this.foundFistNames = []
      this.foundLastNames = []
      this.foundUser = []
      this.userFoundText = ""
      this.enteredFirstName = ""
      this.enteredLastName = ""
      this.enteredEmail = ""
      this.enteredUser = {}
      this.selectedType = ""
      this.selectedDate = {types: [{M: 5, U: 6, 4:22, 16:80}]}
      this.showNewOrder = false
      this.showHeader = true
    },
    populateBaskets() {
      this.newOrderData.baskets = {
        1: {
          "pickedUp": false,
          "deposit": false
        }
      }
      switch (this.newOrderData.type) {
      case "4":
        var i = 2
        for (i; i < 5; i++) {
          this.newOrderData.baskets[i] = {
              "pickedUp": false,
              "deposit": false
          }
        }
        break
      case "16":
        var j = 2
        for (j; j < 17; j++) {
          this.newOrderData.baskets[j] = {
              "pickedUp": false,
              "deposit": false
          }
        }
        break
      }
    },
    getTypeColor(type) {
      switch (type) {
        case "M": return "yellow darken-3"
        case "U": return "red"
        case "4": return"green"
        case "16": return "blue"
        default: "black"
      }
    }
  }
}
</script>

<style>


</style>
