<template>
  <div>

    <!-- "Commandes" header and "Nouvelle Commande" button-->
    <v-layout class="mt-12 mb-3">
      <v-flex>
        <v-card flat class="grey lighten-5 mt-7" width="180">
          <h2 class="deep-purple--text text--darken-4">Distribution du</h2>
        </v-card>
      </v-flex>
      <v-flex>
        <v-btn
          depressed
          :ripple="{ 'center' : true }"
          class="deep-purple--text text--darken-4 mt-6"
          @click="previousDate(); getDisplayedDate(); displayOrders();">
          <v-icon>keyboard_arrow_left</v-icon>
        </v-btn>
      </v-flex>
      <v-flex mx-5>
        <h4 class="text-center grey--text text--darken-2">
          Semaine {{ displayedWeekNumber }}
        </h4>
        <p class="text-center deep-purple--text text--darken-4 display-1 my-0">
          {{new Date(displayedDate.date).toLocaleDateString()}}
        </p>
        <v-card height="20" flat class="grey lighten-5">
          <v-chip
            v-if="displayedWeekNumber == currentWeekNumber"
            x-small
            class="deep-purple darken-4 ml-12"
            >
            <h4 class="white--text text-center">
              Cette semaine
            </h4>
          </v-chip>
        </v-card>
      </v-flex>
      <v-flex>
        <v-btn
          depressed
          :ripple="{ 'center' : true }"
          class="deep-purple--text text--darken-4 mt-6"
          @click="nextDate(); getDisplayedDate(); displayOrders();">
          <v-icon>keyboard_arrow_right</v-icon>
        </v-btn>
      </v-flex>
      <v-flex md10></v-flex>
      <v-flex md2 class="mr-12 mt-3">
        <v-card width="160">
          <v-switch
            inline
            inset
            v-model="showAllOrders"
            class="float-left"
            color="deep-purple darken-4"
            :ripple="false"
            @change="displayOrders()"
            >
          </v-switch>
          <h4 class="mt-5 float-right grey--text">Tout afficher</h4>
        </v-card>
      </v-flex>
    </v-layout>

    <!-- Debugging
    <v-layout>
      <h4>displayedDate:</h4>
      <p>{{ displayedDate }}</p>
    </v-layout>
    <v-layout>
      <h4>currentWeekNumber:</h4>
      <p>{{ currentWeekNumber }}</p>
    </v-layout>
    <v-layout>
      <h4>diff4:</h4>
      <p>{{ diff4 }}</p>
    </v-layout>
    <div>
      <h4>displayedOrders:</h4>
      <p v-for="i in displayedOrders" :key="i">
        {{ JSON.stringify(i,null,2) }}
      </p>
    </div>
    <div>
      <h4>ordersData.data:</h4>
      <p v-for="i in ordersData.data" :key="i">
        {{ JSON.stringify(i,null,4) }}
      </p>
    </div> -->


    <!-- Orders Table -->
    <v-slide-y-transition>
      <v-data-table
        :headers="headerData"
        :items="displayedOrders"
        :sort-by="firstName"
        :sort-desc="true"
        hide-default-footer
        mobile-breakpoint="100"
        class="distri-data-table grey lighten-5 elevation-2"
        >
        <template v-slot:item.baskets.1.deposit="{ item }">
          <v-card height="30" width="30" flat class="transparent">
            <v-checkbox
              class="distri-checkbox mt-0 pa-0 pl-2"
              color="red"
              :ripple="false"
              v-model="item.baskets['1'].deposit"
              >
            </v-checkbox>
          </v-card>
        </template>
        <template v-slot:item.baskets.1.pickedUp="{ item }">
          <v-card height="30" width="30" flat class="transparent">
            <v-checkbox
              class="distri-checkbox mt-0 pa-0 pl-3"
              color="green"
              :ripple="false"
              v-model="item.baskets['1'].pickedUp"
              @change="updateOrder(item); displayOrders();"
              >
            </v-checkbox>
          </v-card>
        </template>
      </v-data-table>
    </v-slide-y-transition>
  </div>
</template>

<script>
import OrdersService from '../OrdersService'
import DatesService from '../DatesService'
import UsersService from '../UsersService'

export default {
  name: 'Distribution',
  data: () => ({
    n: 1,
    showAllOrders: false,
    dateThreshhold: Date.now(),
    currentDate: {},
    displayedDate: {},
    currentWeekNumber: 1,
    displayedWeekNumber: 1,
    maxWeekNumber: 1,
    displayedOrders: [{}],
    nextDates: [{}],
    datesData: {
      data: [],
      error: ''
    },
    ordersData: {
        data: [],
        error: ''
      },
    usersData: {
      data: [],
      error: ''
    },
    headerData: [
    {
      text: "Prénom",
      value: "userID.firstName",
    },
    {
      text: "Nom",
      value: "userID.lastName",
    },
    {
      text: "Caution",
      value: "baskets.1.deposit",
    },
    {
      text: "Récupéré",
      value: "baskets.1.pickedUp",
    },
    {
      text: "Type",
      value: "type",
    },
    {
      text: "Semaine début",
      value: "startDate.weekNumber",
    }]
  }),
  async created() {
    try {
      const dateOffset = (52*60*60*1000); //Diff entre lundi midi et mercredi 16h
      var d = new Date()
      d.setTime(d.getTime()-dateOffset)
      this.dateThreshhold = d
      this.ordersData.data = await OrdersService.getOrders()
      this.datesData.data = await DatesService.getDates()
      this.usersData.data = await UsersService.getUsers()
      this.currentDate = this.getCurrentDate()
      this.currentWeekNumber = this.currentDate.weekNumber
      this.displayedWeekNumber = this.currentWeekNumber
      this.displayedDate = this.currentDate
      this.displayOrders()
      this.getMaxWeekNumber()
    } catch (err) {
      this.err = err.message
    }
  },
  methods: {
    getCurrentDate() {
      var date = {}
      const l = this.datesData.data.length
      for (var i = 0; i < l-1; i++) {
        if (new Date(this.datesData.data[i].date) > this.dateThreshhold) {
          date = this.datesData.data[i]
          break
        }
      }
      return(date)
    },
    updateOrder(order) {
      OrdersService.updateOrder(order)
    },
    displayOrders() {
      if (this.showAllOrders) {
        this.getAllOrders()
      }
      else {
        this.getRemainingOrders()
      }
    },
    getAllOrders() {
      var orders = this.ordersData.data
      var dispOrders = []
      var l = orders.length
      for (var i = 0; i < l; i++) {
        switch (orders[i].type) {
          case "M":
            if (orders[i].startDate.weekNumber == this.displayedWeekNumber) {
              dispOrders.push(orders[i])
            }
            break
          case "U":
            if (orders[i].startDate.weekNumber == this.displayedWeekNumber) {
              dispOrders.push(orders[i])
            }
            break
          case "4":
            var diff4 = this.displayedWeekNumber - orders[i].startDate.weekNumber
            if (0 <= diff4 && diff4 < 4) {
              dispOrders.push(orders[i])
            }
            break
          case "16":
            var diff16 = this.displayedWeekNumber - orders[i].startDate.weekNumber
            if (0 <= diff16 && diff16 < 16) {
              dispOrders.push(orders[i])
            }
            break
          default:
        }
      }
      this.displayedOrders = dispOrders
    },
    getRemainingOrders() {
      var orders = this.ordersData.data
      var dispOrders = []
      var l = orders.length
      for (var i = 0; i < l; i++) {
        switch (orders[i].type) {
          case "M":
            if (orders[i].startDate.weekNumber == this.displayedWeekNumber) {
              if (orders[i].baskets["1"].pickedUp == false)
                { dispOrders.push(orders[i]) }
            }
            break
          case "U":
            if (orders[i].startDate.weekNumber == this.displayedWeekNumber) {
              if (orders[i].baskets["1"].pickedUp == false)
                { dispOrders.push(orders[i]) }
            }
            break
          case "4":
            var diff4 = this.displayedWeekNumber - orders[i].startDate.weekNumber
            if (0 <= diff4 && diff4 < 4) {
              dispOrders.push(orders[i])
            }
            break
          case "16":
            var diff16 = this.displayedWeekNumber - orders[i].startDate.weekNumber
            if (0 <= diff16 && diff16 < 16) {
              dispOrders.push(orders[i])
            }
            break
          default:
        }
      }
      this.displayedOrders = dispOrders
    },
    getDisplayedDate() {
      const l = this.datesData.data.length
      for (var i = 0; i < l-1; i++) {
          if (this.datesData.data[i].weekNumber == this.displayedWeekNumber) {
        this.displayedDate = this.datesData.data[i]
        }
      }
    },
    previousDate() {
      if (this.displayedWeekNumber > 1) {
        this.displayedWeekNumber -= 1
      }
    },
    nextDate() {
      if (this.displayedWeekNumber < this.maxWeekNumber) {
        this.displayedWeekNumber += 1
      }
    },
    getMaxWeekNumber() {
      const l = this.datesData.data.length
      var max = 1
      for (var i = 0; i < l-1; i++) {
        if (this.datesData.data[i].weekNumber > max) {
          max = this.datesData.data[i].weekNumber
        }
      }
      this.maxWeekNumber = max
    }
  }
}
</script>

<style>

.distri-data-table > div> table > tbody > * > *{
  font-size: 1.1em !important;
}

.distri-data-table > div> table > tbody > * > *:nth-child(2){
  font-weight: bold;
}

/* .distri-checkbox i {;
  font-size: 50px !important;
} */

</style>
