<template>
  <div>

    <v-card flat height="68" class="grey lighten-5">
    </v-card>
    <v-layout>
        <h2 md3 class="deep-purple--text text--darken-4 mt-2">Usagers</h2>
        <div width="300">
          <v-text-field
            md3
            v-model="usersSearch"
            append-icon="search"
            label="Recherche"
            outlined
            dense
            class="ml-10 mt-2"
            >
          </v-text-field>
        </div>
    </v-layout>

    <v-data-table
      :headers="headers"
      :items="users"
      :search="usersSearch"
      hide-default-footer
      class="usagers-data-table grey lighten-5"
      >
    </v-data-table>
  </div>
</template>

<script>
import UsersService from '../UsersService'

export default {
  name: 'Usagers',
  data: () => ({
      users: [],
      headers: [
        {
          text: "Prénom",
          value: "firstName",
        },
        {
          text: "Nom",
          value: "lastName",
        },
        {
          text: "Email",
          value: "email",
        }
      ],
      error: "",
      usersSearch: "",
  }),
  async created() {
    try {
      this.users = await UsersService.getUsers()
    } catch (err) {
      this.err = err.message
    }
  }
}
</script>
