<template>
  <div class="menu-item"  v-bind:class="{'is-selected':item.isSelected}" @click="$emit('select-menu-item',item.id)">
    <div class="selector"></div>
    <div class="menu-icon-box">
      <img class="menu-icon" :src="getSrc(item.icon)"/>
    </div>
    <div class="menu-title">
      <p>{{item.title}}</p>
    </div>
  </div>
</template>

<script>

export default {
  name: "menuItem",
  props: ["item","menuData"],
  methods: {
    getSrc(name) {
      return require('../assets/icons/' + name + '.png')
    },
    select(item,menuData) {
      for (var i in menuData) {
        i.isSelected = false
      }
      item.isSelected = true
    }
  }
}
</script>

<style scoped>

  .menu-item {
    margin: 0;
    height: 60px;
    width: 100%;
    position: relative;
    display: flex;
    background-color: rgb(201, 201, 201);
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(94, 94, 94);
    text-align: center;
    transition: .1s ease-in-out;
  }

  .menu-item:hover {
    background-color: rgb(168, 168, 168);
    color: rgb(55, 55, 55);
  }

  .selector {
    transition: .2s ease-in-out;
    width: 0.5em;
  }

  img {
    filter: invert(0.37);
  }

  img:hover {
    -webkit-filter: invert(1);
  }

  .menu-icon-box {
    width: 60px;
  }

  .menu-icon {
    height: 30px;
    box-sizing: border-box;
    margin: 25%;
  }

  .menu-title {
    top: 50%;
  }
  
  p {
    margin-top: 1.7em;
    margin-left: 0.5em;
  }

  .is-selected {
    background-color: rgb(180, 180, 180);
  }

  .is-selected > .selector {
    background-color: rgb(48, 36, 79);
  }

  .is-selected > .menu-title {
    color: rgb(48, 36, 79);
  }

</style>
