<template>
  <div id="orders">
    <h1>Commandes</h1>
  </div>
</template>

<script>
export default {
  name: 'orders'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

#orders {
  width: 17em;
  float: right;
  background-color: rgb(4, 66, 122);
  display: block;
}

h1 {
  font-size: 1.3em;
  float: left;
}

</style>
