<template>
  <div id="sidebar  ">
    <div id="logoBox">
      <a href="./">
        <img id="laRacineLogo" src="../assets/logo.png" width="100" href="./"/>
      </a>
    </div>
    <div id="mainMenu">
      <div v-for="item in menuData" v-bind:key="item.id">
        <menuItem v-bind:item="item" v-on:select-menu-item="$emit('select-menu-item',item.id)"/>
      </div>
    </div>
  </div>
</template>

<script>
import menuItem from './menuItem.vue';

export default {
  name: "sidebar",
  components: {
    menuItem
  },
  props: ["menuData"]
}

</script>

<style scoped>

#sidebar {
  background-color: rgb(223, 223, 223);
  width: 14em;
  height: 100%;
  margin: 0;
  border: 0;
  float: left;
}

#logoBox {
  position: relative;
  text-align: center;
  height: 5em;
  margin: 0;
}

#laRacineLogo {
  width: 10em;
  margin: 1em;
}

#mainMenu {
}

</style>
